body{
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}


ul{
    list-style: none;
}



.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}



/* header start */

.nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.list{
    display: flex;

}


.link{
    margin: 0 10px;
    text-transform: uppercase;
}


.logo {
    font-size: 30px;
    text-transform: uppercase;
}



/* header end */






/* sectionTop start */

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
    transition: 500ms;
}

.img:hover{
    background: rgb(255, 94, 0);
}

.desc{
    width: 500px;
}


h2{
    margin-bottom: 20px;
}


/* sectionTop end */






/* sectionBottom start */




.container_2{
    width: 900px;
    margin: 0 auto;

}

.card_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}


.desc_2{
    width: 600px;
    margin-left: 50px;
    margin-bottom: 20px;
}


.img_2 {
    width: 400px;
    height: 200px;
    background: black;
    margin-bottom: 20px;
    transition: 500ms;
}

.img_2:hover{
    background: rgb(139, 0, 81);
}




/* sectionBottom end */



/* footer start */


footer{
    background: black;
    padding: 50px 0;
}

.txt{
    color: white;
    text-align: center;
}

/* footer end */