/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1320px) {} */
/* @media (max-width: 1290px) {} */
/* @media (max-width: 1140px) {} */
/* @media (max-width: 1024px) {} */
@media (max-width: 992px) {
    .txt1{
        font-size: 14px;
    }
}
/* @media (max-width: 768px) {} */
/* @media (max-width: 736px) {} */
@media (max-width: 734px) {
    
    .img_2{
        margin: 0 auto;
        margin-top: 20px;
        }
    
        .card_2{
            text-align: center;
        }
    
        .desc_2{
            margin: 0 auto;
        }
        .card_2{
            display: block;
        }
        h2{
            margin-top: 20px;
        }
    
}
@media (max-width: 684px) {

    .list{
        display: none;
    }
    .nav__menu{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .nav__line{
        width: 100%;
        height: 2px;
        background: #000;
        position: relative;
    }
    .nav__line::before{
        content: '';
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
        background: black;
    }
    .nav__line::after{
        content: '';
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        background: black;
    }
    .desc{
        text-align: center;
        margin: 0 auto;
    }
    .card{
        display: block;
    }
    .img{
        margin: 0 auto;
    }
    
    .img_2{
        margin: 0 auto;
        margin-top: 20px;
        }
    
        .card_2{
            text-align: center;
        }
    
        .desc_2{
            margin: 0 auto;
        }
    
}
/* @media (max-width: 667px) {} */
@media (max-width: 576px) {

    .img{
        margin: 0 auto;
    }
    .desc_2{
        margin-left: 25px;
    }
    .img_2{
        margin: 10px 0;
    }
    .txt1{
        max-width: 255px;
        width: 100%;
        -webkit-line-clamp: 5;
    }
    .txt1:hover{
        -webkit-line-clamp: unset;
    }
    .text-limited{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 430px;
    }
    
    .desc{
        text-align: center;
    }
    .card{
        display: block;
    }

    .img_2{
    margin: 0 auto;
    margin-top: 20px;
    }

    .card_2{
        text-align: center;
    }

    .desc_2{
        margin: 0 auto;
    }



}
/* @media (max-width: 414px) {} */
@media (max-width: 412px) {
    .img{
        height: 150px;
    }
    .img_2{
        height: 114px;
    }
    h2{
        margin-bottom: 8px;
        font-size: 18px;
    }
}
/* @media (max-width: 375px) {} */
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */